<app-header></app-header>


<div class="discover-container">
    <div class="left-container">
        <h1>Discover new music</h1>
        <div class="icons-container">
            <div class="card">
                <img src="../../assets/img/microphone.svg" alt="Microphone Icon">
                <p>Charts</p>
            </div>
            <div class="card">
                <img src="../../assets/img/albums.svg" alt="Albums Icon">
                <p>Albums</p>
            </div>
            <div class="card">
                <img src="../../assets/img/more.svg" alt="More Icon">
                <p>More</p>
            </div>
        </div>
        <p>By joining you can benefit by listening to the latest albums released.</p>
    </div>
    <div class="album-container">
        <img class="album" src="../../assets/img/covers.jpg">
    </div>
</div>

<app-footer></app-footer>